@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: "Gotham Narrow Bold";
    src: url("fonts\GothamNarrow-Bold.otf");
}

@font-face {
    font-family: "Gotham Narrow Light";
    src: url("fonts\GothamNarrow-Light.otf");
}

@font-face {
    font-family: "Gotham Narrow Medium";
    src: url("fonts\GothamNarrow-Medium.otf");
}
